#wrapper{
    margin: 7%;
}
#result{
    padding: 6% 35%;
    line-height: 2;
}
button{
    padding: 2%;
}
.input_form{
    line-height: 5;
    text-align: center;
}
input{
    padding: 1%;
    text-align: center;
}
